.aLink{
    text-decoration: none;
    color: black;

    &:hover{
        color: purple;
    }
}
.navbar{
    position: relative;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    // height: 50px;
    align-items: center;

    img{
        width: 35px;
        height: 35px;
        margin-right: 10%;
    }

    .left{
        margin-left: 155px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        span{
            font-size: 25px;
            color: black;
            font-weight: bold;
            margin: 0;
        }
}

    .slide{
        width: 30%;
        text-align: left;
        position: absolute;
        justify-content: center;
        top: 100px;
        flex-direction: column;

        ul{
            flex-direction: column;
        }
        .contact{
            margin-left: 40px;
        }
    }
    .right{
        margin-right: 35px;
        display: flex;
        align-items: center;
        gap: 20px;

        ul{
            list-style: none;
            display: flex;
            gap: 30px;
            margin: 0;

            li{
                font-size: 18px;
                font-weight: 500;
            }
        }

        .contact{
            border: 1px solid rgba(64, 160, 155, 0.63);
            padding: 6px 12px;
            border-radius: 9px;

            .aLink{
                text-decoration: none;
            }
            &:hover{
                background: rgba(61, 219, 211, 0.219);
            }
            
            span{
                color: rgb(26, 22, 22);
                font-size: 18px;
                font-weight: 500;
            }

          
        }
      
    }

  
}

@media (max-width: 850px){
    .navbar{

    

        .left{
            margin-left: 70px;
        }
      
    }
}
