.homepage{
    margin: 30px 0 0;
    
    .section{
        background: white;
        width: 100%;
    }

}

@media (max-width: 705px){
    .homepage{
        margin: 20px 0 0;
        width:110%
    }
}
@media (max-width: 630px){
    .homepage{
        width:140%
    }
}
@media (max-width: 500px){
    .homepage{
        width:180%
    }
}
@media (max-width: 400px){
    .homepage{
        width:220%
    }
}