.fixed{
    
    

    .back{
        position: fixed;
        bottom: 10%;
        right: 7%;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 1px solid rgb(43, 194, 231);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      


        img{
            width: 30px;
            height: 30px;
            transform: rotate(270deg);
        }
    }
}